.App {
  text-align: center;
  background-color: purple;
  color: deepskyblue;
}

.App-logo {
  height: 40vmin;
}



.completed {
  text-decoration: line-through;
}

img {
  width: 400px;
  height: 400px;
}